# Ambiente
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Banco de dados local
data/*.db
data/*.sqlite3

# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# SO
.DS_Store
Thumbs.db
